.wrapper{
    display: flex;
    &__register-title {
        font-size: 28px;
    }
    &__register-button{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__form {
        .ant-input {
            padding: 10px 16px;
        }
        .ant-input-affix-wrapper {
            padding: 10px 16px;
        }
    }
    &__navigate {
        margin-top: 20px;
        a {
            text-decoration: none;
        }
        span {
            transition: all 0.2s linear;
            color: #2a2e7b;
            padding-left: 8px;
        }
        span:hover {
            color: #ff5f73;
        }
    }
}